.topofHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    color: #355EFC;
}
.topright, .topleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
#logo{
    font-family: roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}
.menu{
    display:flex;
    align-items: center;
    gap: 5px;
}


.mainofHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainofHeader>div{
    width: 60%;
    align-items: center;
}
#textOfHeader{
    font-family: roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
#welcometofinanza{
    background-color: #DEE2FB;
}

.sliderButton{
    padding: 0px;
    top:0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    opacity: .75;
    border: 0px;
}
.leftbutton{
    left:0;
}
.rightbutton{
    right:0; 
}
.sliderButton:hover{
    opacity: 10;
}
header{
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 77px;
}
header.changeBackground1{
    background-image: url(https://themewagon.github.io/finanza/img/carousel-1.jpg);
}
.changeBackground2{
    background-image: url(https://themewagon.github.io/finanza/img/carousel-2.jpg);
}