*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 

}

.wraperforfooter{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
button{

    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    color: #355EFC;
    padding: 15px 25px;
    gap:10px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.bluebutton{
    background-color:  #355EFC;
    color: white;
    border: 0px;
    padding: 10px 25px 10px 25px;
    font-weight: 700;
    transition: all 0.25s ease;
}
.whitebutton{
    color:#355EFC;
    border: 1px solid #CAD2FC;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
    margin-bottom: 20px; 
}
.bluebutton:hover{
    background-color: #1841e6;
    opacity: .5;
    
}
.whitebutton:hover{
    background-color: rgb(248, 244, 244);
}
#headerbutton{
    margin-bottom: 123px;
}
ul, li{
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

     transition: all .25s ease;
}
.headerMenu{
    padding-left: 32px;
}
li:hover{
    font-size: 20px;
    color: #1841e6;
}
.pictures{
    width: 100%;
}
.changebuttons{
    color: #555555;
}
.changebuttons:hover{
    border: 1px solid #a3a3a3;
    box-shadow: 2px 10px 25px -15px rgba(25, 42, 89, 0.20);
}
