*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    margin-bottom: 130px;
}

button{

    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    color: #355EFC;
    padding: 15px 25px;
    gap:10px;
    margin-top: 25px;
}
.bluebutton{
    background-color:  #355EFC;
    color: white;
    padding: 10px, 25px, 10px, 25px;
    font-weight: 700;
}
.whitebutton{
    color:#355EFC;
    border: 1px solid #CAD2FC;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
    margin-bottom: 20px;
}
.bluebutton:hover{
    background-color: #1841e6;
}
.whitebutton:hover{
    background-color: rgb(248, 244, 244);
}
ul, li{
    list-style-type: none;
    display: inline-block; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 36px;
}
.pictures{
    width: 100%;
}